body{
  margin: 0;
  font-family: "Lato", sans-serif;
}

.uvodka{
  background-image: linear-gradient(to right, rgb(0,114,66) 0%, rgb(4,109,91) 100%);
  color: white;
  font-size: 20px;
  padding: 40px;
}

button{
  padding: 10px;
  font-size: 20px;
  background: none;
  border: 2px solid rgb(0,114,66);
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

button:hover{
  background-color: rgb(0,114,66);
  border:black;
  color: white;
}

form{
  padding: 40px;

}

.boxy{
  margin-bottom: 20px;
}

.boxy label{
  display: block;
  font-size: 22px;
  margin-bottom: 10px;
}

.boxy input, textarea{
  width: 320px;
  padding: 10px;
  font-size: 18px;
  color:gray;
  margin-bottom: 4px;
}

input.nespravnost{
  border: 1px solid red;
}

.erroros{
  color:red;
}

hr{
  height: 1px;
  background-color: rgb(0,114,66);
  border: none;
  margin-bottom: 30px;
  margin-top: 30px;
}

.skryt{
  display: none;   
}

.fajfka {
  color:green;
  display: none;
}