<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" href="/static/styl.css" />
<title>Úvodní stránka</title>
<body>
    <div class="uvodka">
        <h1 style="text-align: center;">Rozsazení v lodích na vodáckém kurzu 2023 SPŠE Ječná</h1>
    </div>

    <a href="/registrace">    
        <button  style="padding: 20px 60px; margin-top: 250px; margin-left: 685px;">Chci se registrovat!</button>
    </a>

</body>
</html>